@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    min-height: 100vh;
    display: grid;
    place-items: center;

}

.container {
    margin:  auto;
    background-color: hsl(0, 0%, 100%);
    display: grid;
    place-items: center;
    width: fit-content;
    height: fit-content;
    text-align: center;
    border-radius: 8px;
    padding: 7px 7px 10px 7px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}

img {
    max-height: 220px;
    margin: 8px 8px 8px 8px;
    border-radius: 8px;
}


.first {
    width: 220px;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 10px 6px 0 6px;
    padding: 0;
    color: hsl(218, 44%, 22%);
}

.second {
    width: 220px;
    font-size: .75em;
    font-weight: 400;
    margin: 0 5px 7px 5px;
    color: hsl(220, 15%, 55%);
}